---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/sections/Header.astro';
import Introduction from '../../components/sections/Introduction.astro';
import Language from '../../components/sections/Language.astro';
import Skill from '../../components/sections/Skill.astro';
import Education from '../../components/sections/Education.astro';
---

<Layout title="Portfolio">
    <main>
        <Header />
        <Introduction />
        <Language />
        <Skill />
        <Education />
    </main>
</Layout>
