---
import {ui, name} from "../../i18n/ui";
import ThemeButton from "../ThemeButton.astro";
import LanguageButton from "../LanguageButton.astro";
import { getLangFromUrl } from "../../i18n/utils";
import type {Language} from "../../i18n/types"

const lang:Language = getLangFromUrl(Astro.url);
---
<header class="flex justify-between items-center text-fallout">
    <h1>
        {name} | {ui[lang].labor}
    </h1>
    <div class="flex gap-4">
        <ThemeButton/>
        <LanguageButton/>
    </div>
</header>