---
import { ui } from "../../i18n/ui";
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<div>
    <h2 class="capitalize">
        {ui[lang].sections.introduction.title}
    </h2>
    <span>
        {ui[lang].sections.introduction.intro}
    </span>
</div>