---
import { ui } from "../../i18n/ui"
import { getLangFromUrl } from "../../i18n/utils"
const lang = getLangFromUrl(Astro.url)
const languages = ui[lang].sections.language.languages
---
<h2>
    {ui[lang].sections?.language.title}
</h2>
<ul>
    {
        languages.map((language) => {
            return (
                <li>
                    <span>
                        {language.name}
                    </span>
                    <span>
                        :
                    </span>
                    <span>
                        {language.level}
                    </span>
                    {
                        language.cefr&&
                        <span>
                            {language.cefr}
                        </span>
                    }
                </li>
            )
        })
    }
</ul>