---
import { ui } from "../../i18n/ui"
import { getLangFromUrl } from "../../i18n/utils"
const lang = getLangFromUrl(Astro.url)
const languages = ui[lang].sections.language.languages
---
<h2 class="capitalize">
    {ui[lang].sections?.language.title}
</h2>
<div>
    {
        languages.map((language) => {
            return (
                <div>
                    - <span>{language.name}</span>:
                    <span>
                        {language.level}
                    </span>
                    {
                        language.cefr&&
                        <span>
                            {language.cefr}
                        </span>
                    }
                </div>
            )
        })
    }
</div>