---
import { ui } from "../../i18n/ui";
import { getLangFromUrl } from "../../i18n/utils";
import Border from "../Border.astro";
import Tool from "../Tool.astro";

const lang = getLangFromUrl(Astro.url);
const projects = ui[lang].sections.project.projects;
---
<div>
    <h2 class="capitalize">
        {ui[lang].sections.project.title}
    </h2>

    <div class="min-[35rem]:grid-cols-3 min-[35]:gap-2 min-[60rem]:flex grid grid-cols-2 gap-4">
        {
            projects.map((project)=> {
                return (
                    <Border className= 'flex'>
                        <a href="" class="no-underline text-current flex flex-col gap-2 p-2 justify-between h-full">
                                <div class="flex flex-col gap-1">
                                    <span class="ProjectTitle font-semibold text-xl w-full bg-fallout-900">
                                        {project.name}
                                    </span>
                                    <span class="text-sm">
                                        {project.description}
                                    </span>
                                </div>
                                <div class="flex flex-none gap-2">
                                    {project.tools.map((tool) => {
                                        return (
                                            <Tool tool={tool} />
                                        )
                                    })}
                                </div>

                        </a>
                    </Border>
                );
            })
        }
    </div>
</div>
<style>
    html.light span.ProjectTitle {
        background-color: var(--color-fallout-200);
    }
</style>