---
import { ui } from "../../i18n/ui";
import Border from "../Border.astro";
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const skills = ui[lang].sections.skill.skills;
---
<h2 class="capitalize">
    {ui[lang].sections.skill.title}
</h2>

<div class="grid grid-cols-3 gap-5 min-[35rem]:grid-cols-4 min-[40rem]:grid-cols-5">
    {
        skills.map((skill)=> {
            let tools = skill.tools 
            return (
                <Border>
                    <div class="flex flex-col p-2">
                        <span class="AreaTitle text-xl font-semibold bg-fallout-900">
                            {skill.area}
                        </span>
                        <div class="flex flex-col">
                            {
                                tools.map((tool) => {
                                    return (
                                        <span class="text-sm">
                                            {tool}
                                        </span>
                                    )
                                })
                            }
                        </div>
                    </div>
                </Border>
            )
        })
    }
</div>
<style>
    html.light span.AreaTitle {
        background-color: var(--color-fallout-200);
    }
</style>