---
import { getLangFromUrl } from '../i18n/utils';
import { ui } from '../i18n/ui';
interface Props {
    className?: string;
}

const lang = getLangFromUrl(Astro.url)
const { className } = Astro.props; 
---
<div class="flex">
    <span>{ui[lang].switch.language.english}</span> 
    <a href={lang === 'en' ? '/es' : '/en'}>
        <button 
            id="languageToggle"
            class={`SwitchButton__case w-10 h-6 rounded border-2 border-fallout-dark flex bg-transparent flex-row items-center px-0.5 ${className}`}
        >
            <div 
                class='SwitchButton__drop w-4 h-4 bg-fallout-dark rounded-sm'
            >
            </div>
        </button>
    </a> 
    <span>{ui[lang].switch.language.spanish}</span>  
</div>